<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css"
          href="/static/css/styles.css"/>
    <link rel="stylesheet" type="text/css"
          href="/static/css/home.css"/>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/loginEmp">Sign Up Employee</a>
    <br>
    <a href="/loginCompany">Sign Up HR</a>
    <br>
    <a href="/loginHR">Sign Up Company</a>
    <br>
    <a href="/loginAdmin">Sign Up Admin</a>
    <br>
    <hr>
    <%= msg %>

  </body>
</html>
